.carousel-control-prev, .carousel-control-next {
    color: white; 
    font-size: 20em;
    text-shadow: none; 
    opacity: 50%; 
    border: 2px solid black; 
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    color: yellow; 
    border-color: yellow; 
}